<!DOCTYPE html>
<html>
<body>
    <style>
        .fila-cabecera {
            background-color: black;
            color: white;
        }

        .centrar-fila th {
            text-align: center;
        }
    </style>
    <main class="body-content">
        <h3>LISTADO DE SECCIONES CON FILTRO </h3>
        @using (Html.BeginForm("Buscar", "Seccion"))
        {
            <table class="table-bordered filter-table" width="600">
                <tr class="fila-cabecera filter-table-row filter-header" style="background-color: #7CF5FF">
                    <th colspan="2" style="text-align: center;" class="head--table table-info ">Seleccione tipo de criterio de búsqueda</th>
                </tr>
                <tr class="filter-table-row" style="height:10px">

                <tr class="filter-table-row">
                    <td class="filter-table-cell radio-button-content">
                        <input type="radio" name="condicion" value="Todas" checked="true" />
                        <span>Todas</span>
                    </td>
                    <td class="filter-table-cell">
                    </td>
                    <td class="filter-table-cell">
                    </td>
                </tr>
                <tr class="filter-table-row">
                    <td class="filter-table-cell radio-button-content">
                        <input type="radio" name="condicion" value="PorCurso" />
                        <span>Por Curso</span>
                    </td>
                    <td class="filter-table-cell">
                        @Html.DropDownList("cboCursos",
                       (IEnumerable<SelectListItem>)ViewBag.ListarCursos, new { @class = "select-element-filter", style = "width: 300px ; height: 30px; border: 2px solid #6439ff; border-radius:8px; color: #6439ff; padding-left:10px;", })
                    </td>
                </tr>

                <tr class="filter-table-row" style="height:5px">

                <tr class="filter-table-row">
                    <td class="filter-table-cell radio-button-content">
                        <input type="radio" name="condicion" value="PorProfesor" />
                        <span>Por Profesor</span>
                    </td>
                    <td class="filter-table-cell">
                        @Html.DropDownList("cboProfesores",
                       (IEnumerable<SelectListItem>)ViewBag.ListarProfesores, new { @class = "select-element-filter", style = "width: 300px ; height: 30px; border: 2px solid #6439ff; border-radius:8px; color: #6439ff; padding-left:10px;", })
                    </td>
                </tr>

                <tr class="filter-table-row" style="height:10px">
                </tr>
                <tr class="filter-table-row">
                    <td class="filter-table-cell">
                    </td>
                    <td class="filter-table-cell">
                        <input class="filter-button" type="submit" name="Buscar" />
                    </td>

                </tr>

                <tr class="filter-table-row" style="height:10px">

                <tr class="filter-table-row">
                    <td class="filter-table-cell radio-button-content">
                        <strong>Cantidad de Secciones:</strong>
                    </td>
                    <td class="filter-table-cell">
                        <strong> @ViewBag.Cantidad</strong>
                    </td>

                </tr>

                <tr class="filter-table-row" style="height:10px">

            </table>
        }
        <br />
        @*Cabecera de listado*@
        <table class="table-bordered data-table" width="1200">
            <tr class="fila-cabecera centrar-fila row-main">
                <th class="head--table">Código de Sección</th>
                <th class="head--table">Curso</th>
                <th class="head--table">Horario</th>
                <th class="head--table">Profesor </th>
                <th class="head--table">Sede</th>
                <th class="head--table">Aula</th>
                <th class="head--table">Cupos Disponibles</th>


            </tr>
            @*Listado de autos*@
            @foreach (var seccion in ViewBag.ListarSecciones)
            {

                <tr>
                    <th style="text-align: center;" class="content-table-text">@seccion.Id_Seccion</th>
                    <th style="text-align: center;" class="content-table-text">@seccion.Nom_Curso</th>
                    <th style="text-align: center;" class="content-table-text">@seccion.Horario</th>
                    <th style="text-align: center;" class="content-table-text">@seccion.NombreCompletoProfesor</th>
                    <th style="text-align: center;" class="content-table-text">@seccion.Sede</th>
                    <th style="text-align: center;" class="content-table-text">@seccion.Num_Aula</th>
                    <th style="text-align: center;" class="content-table-text">@seccion.cupo</th>


                    @*<th style="text-align: center;">@profesor.Numero_secciones</th>*@
                </tr>
            }

        </table>
    </main>


</body>
</html>

